#logo{
	width: 120px;
}

#menu_color{
	color: white;
}

#menu_color:hover{
	color: #48DA9B;
}

#background{
	background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png);
}

#background > li:nth-child(7) > div,
#background > li:nth-child(5) > div,
#background > li:nth-child(3) > div{
	color: white;
}

#background > li:nth-child(7) > div:hover,
#background > li:nth-child(5) > div:hover,
#background > li:nth-child(3) > div:hover{
	color: #48DA9B;
}

#profile-overflowed-indicator\$Menu,
#anime-overflowed-indicator\$Menu,
#report-overflowed-indicator\$Menu{
	background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_wall.png);
}

.ant-layout-content{
	border-left: 1px solid #fff;
}

#img-profile {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin-top: 10%;
}

#background > div.profileLine > div > span:nth-child(1),
#background > div.profileLine > div > span:nth-child(3),
#background > div.profileLine > div > span:nth-child(5),
#background > div.profileLine > div > span:nth-child(7),
#background > div.profileLine > div > span:nth-child(9),
#background > div.profileLine > div > span:nth-child(11){
	color: white;
}

#icon {
    width: 40px;
}

.td{
    color: white;
}
	
.profileLine{
	margin-left: 2%;
	border-left: 4px solid #48DA9B;
}

.profileText{
	margin-top: 10px;
	margin-left: 2%;
	color: white;
}

p {
	font-size: 15px;
	color: #e4e3e8;
}

#left_col {
	width: 23.5%;
	float: left;
}
	#content_container {
		width: 76.4%;
		border-left: 1px solid #403F44;
		float: left;
	}

th,
td {
	color: white;
}

#normalFont{
	color: white;
}

#space{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 5%;
}

li a{
	color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: rgb(44, 44, 44);
  }

  table{
	  text-align: center;
  }

  #table-left{
	  text-align: left;
  }

  #header > div > nav{
	  z-index: 1;
  }

  .textColor{
	color : white
 }

  #responsive-navbar-nav > div:nth-child(2) > a:hover{
	background-color: #2e2e2ea2;
	color: #48DA9B;
  }
  
  .topnav .icon {
	display: none;
  }
  
  @media screen and (max-width: 1200px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 1200px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	  background-color: #242424;
	}

	.topnav.responsive a:hover{
		background-color: #313131;
	}
  }
  
  .wrapper{
	margin-bottom: 30%;
  }

  .wrapper ul {
	margin-left: -20%;
	list-style: none;
  }
  
  .wrapper ul li {
	width: 45px;
	height: 45px;
	line-height: 30px;
	margin: 0 10px 10px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 5px solid #D8E2DC;
	float: left;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li .fa {
	color: #D8E2DC;
	margin-top: 20px;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.facebook {
	border: 5px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-facebook {
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.twitter {
	border: 5px solid #00aced;
	box-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-twitter {
	color: #00aced;
	text-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.instagram {
	border: 5px solid #bc2a8d;
	box-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-instagram {
	color: #bc2a8d;
	text-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5s ease;
  }

  .socialPadding{
	padding: 10px;
	border-radius: 50%;
  }

  .card-title{
	color: #48DA9B;
  }

  .ant-typography{
	  font-size: 16px;
  }

.ant-layout-sider, .ant-layout-sider-dark,.ant-layout-sider-children{
	  height: 100vh;
  }